{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.css", "*.less", "*.sass", "*.scss", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
